body{

    color:rgb(226, 199, 164);
    background: rgb(15, 8, 14);
    margin: 0px;
    font-family: "Fjalla One", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom:solid 2px white;
    padding: 20px;
    font-size: 35px;
    color: rgb(141, 42, 42)
}

.chamada {
    background: rgb(29, 3, 39) ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categorias {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2.5px solid rgb(214, 253, 121);
}

.categorias h2 {
    color: rgb(141, 42, 42);
}